html {
    scroll-behavior: smooth;
}

/* GLOBAL */

:root{
    --blue:  #0E4459;
    --green: #77D9BD;
    --white: #f2f2f2;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--blue);
    font-family: 'Jost', sans-serif;
    color: var(--white)
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

img {
    max-width: 100%;
}

.btn {
  border:#77D9BD 2px solid;
  border-radius: 50px;
  background-color: transparent;
  color:white;
  margin: 5px;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  border:#77D9BD 2px solid;
  color:#77D9BD;
}

h2 {
  font-size: 50px;
}

.logo {
    width: 350px;
    padding: 15px;
    display: inline-block;
    height: auto;

}

.header{
    background-color: var(--blue);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;

}

.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover{
    background-color: var(--gray);
}

.nav {
    max-height:0;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 4px;
    position: relative;
    width: 30px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 10px;
}
.hamb-line::after{
    top: -10px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
    background: var(--blue);
}
.side-menu:checked ~ .hamb .hamb-line {
    background: var(--blue);
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/*=============PAGE CONTENT=============*/

#about {
    color:white;
    margin: 10px 10px 50px;
}


.container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.img-col {
    width: 50%;
    height:auto;
    order: 1;
}

figure {
    margin: auto;
    height: auto;
}

figcaption {
    text-align: center;
    margin-top: 20px;
}

.text-col {
  order: 2;
  width: 100%;
  line-height: 1.5;
  text-align: center;
  margin: auto;
}

.text-col h2 {
    margin-bottom: 20px;
}

.text-col p {
    margin-bottom: 20px;
}
.button-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/*============================================================ PORTFOLIO SECTION ===========================================================================================*/

#portfolio {
    margin: 40px 0;
}

.flex-container {
  max-width: 100%;
  justify-content: center;
  padding:0px;
  display: flex;
  overflow: scroll;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio-item {
  max-width: 100%;
  list-style: none;
  margin: 10px;
  background-color:#ffffff;
  color:#0E4459;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 5px  #77D9BD ;
}

.portfolio-item:hover{
  transform: rotate(90);
}


.panel-image-size {
  width:500px;
  height: auto;
  object-fit: contain;
  padding: 0px;
}

/*============================================================ CONTACT SECTION ===========================================================================================*/

#contact {

  margin-bottom: 200px;
}

.form-container {
  display: flex;
  margin: 10px;
  justify-content: center;
  padding: 20px;
  border:#77D9BD solid 2px;
  background-color: transparent;

}



.contact-form {
  width:100%;
  margin: 0 auto;

}

.contact-form h2 {
    margin-bottom: 40px;
    font-size: 40px;
}

.contact-form input, textarea {
  width: 100%;
  padding: 12px 20px;
  font-size: large;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border:#77D9BD 2px solid;
  background-color: transparent;
  color:white;

}

#submitContact {
  border-radius: 50px;
  margin-top: 40px;
}

/*============================================================ FOOTER ===========================================================================================*/

footer {
  background-color: #0E4459;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

/* Responsiveness */
@media (max-width: 470px) {
    .logo{
        width: 250px;
    }

    .hamb {
        padding: 30px 20px;
    }

}

      