html {
    background-image: url("/Images/backgroundimage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header {
    padding: 20px;
    background-color: #0E4459;

  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }

.content-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* GLOBAL */

div {
    display: block;
}

section {
    display: block;
}

body {
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    color: white;

}

img {
  max-width: 100%;
}

figure {
  max-width: 100%;
}


button {
  background-color: #77D9BD;
  color: white;
  padding: 10px;
  border: white;
  border-radius: 50px;
}

h2 {
  font-size: 50px;
}

/* HEADER */

.logo-container {
    width: 25%;
    height: auto;

}

/* Style the navbar */
.logo {
  float: left;
  padding: 10px 0;
}

#navbar {
  float: right;

  
}

#navbar ul {
    float:right;
    list-style: none;
    }

#navbar li {
  display: inline-block;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 15px;
  padding-top: 15px;

  position: relative;
}

#navbar a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
}

#navbar a:hover {
  color: #77D9BD
}

#navbar a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #77D9BD;

  position: absolute;
  bottom: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

#navbar a:hover::before {
  width: 100%;
}

  
  /* Page content */
  .content {
    padding: 16px;
  }


.container {
  display:flex;
  width:80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;

}

.img-col {
  width: 50%;
  height:auto;
  object-fit: contain;
  justify-content: center;
  order: 2;
}

.text-col {
  order: 1;
  padding: 20px;
}

.flex-container {
  display: flex;
  overflow: scroll;
  flex-direction: row;
  
}

.portfolio-item {
  list-style: none;
  margin: 10px;
  background-color: white;
  color:#0E4459;
  padding: 10px;
  border-radius: 5px;
}


.panel ul{
  padding: 10px;
  margin: 10px;
  display: inline;
}

.panel-image-size {
  width:400px;
  height: auto;
  object-fit: contain;
  padding: 0px;
}