html {
    height:10000px;
    background-image: url("/Images/backgroundimage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container {
	margin: 0 auto;
}

header {
    padding-top:20px;
    background-color: #0E4459;

  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }

.content-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* GLOBAL */

div {
    display: block;
}

section {
    display: block;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
/* HEADER */

.logo-container {
    width: 25%;
    height: auto;

}

/* Style the navbar */
.logo {
  float: left;
  padding: 10px 0;
}

#navbar {
  float: right;

  
}

#navbar ul {
    float:right;
    list-style: none;
    }

#navbar li {
  display: inline-block;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 15px;
  padding-top: 15px;

  position: relative;
}

#navbar a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
}

#navbar a:hover {
  color: #77D9BD
}

#navbar a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #77D9BD;

  position: absolute;
  bottom: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

#navbar a:hover::before {
  width: 100%;
}

  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    padding-top:20px;
    background-color: #0E4459;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

#profile-photo{
    width:50%;
}